<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://cdn.rawgit.com/jmesnil/stomp-websocket/master/lib/stomp.min.js"></script>
		<script src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
		<script src="/js/scada.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				
				var mainCanvas = $("#scada")[0];
				var scada = new Scada(mainCanvas);
				
				$("#start").on('click', function(e){
					scada.start();
				});
				$("#stop").on('click', function(e){
					scada.stop();
				});
				$("#startOperating").on('click', function(e){
					scada.startOperating();
				});
				$("#stopOperating").on('click', function(e){
					scada.stopOperating();
				});
				
				$("#setJarsInDeposit").on('click', function(e){
					if($("#setJarsInDepositInput").val()>0){
						scada.setNumberOfJarsInDeposit($("#setJarsInDepositInput").val());
					}
					$("#setJarsInDepositInput").val(0);
				});
				
				$("#setConveyorSpeed").on('click', function(e){
					if($("#setConveyorSpeedInput").val()>0){
						scada.setConveyorSpeed($("#setConveyorSpeedInput").val());
					}
					$("#setConveyorSpeedInput").val(0);
				});
				
				/*console.log("add")
				scada.addJar();
				console.log("post")
				//scada.moveJar(2.0)
				 */
				function drawCircle() {
				    // draw the circle
				    /*var radius = 175;
				    mainCanvasContext.beginPath();
				    mainCanvasContext.arc(225, 225, radius, 0, Math.PI * 2, false);
				    mainCanvasContext.closePath();
				     */
				    // color in the circle
				    /* mainCanvasContext.fillStyle = "#006699";
				    mainCanvasContext.fill();*/
				}
			});
		
		</script>
	</head>
	<body>
		<div>
			<span id="message"/>
		</div>
		<div id="container">
		    <canvas id="scada" height="400" width="800"></canvas>
		</div>
		<div>
			<input id="start" type="button" value="Start"/>
			<input id="stop" type="button" value="Stop"/>
			<input id="startOperating" type="button" value="Start Operating"/>
			<input id="stopOperating" type="button" value="Stop Operating"/>
		</div>
		<div>
			<input id="setJarsInDepositInput" type="number"/> <input id="setJarsInDeposit" type="button" value="set number of jars in deposit"/>
		</div>
		<div>
			<input id="setConveyorSpeedInput" type="number" step="0.01"/> <input id="setConveyorSpeed" type="button" value="set conveyor speed"/>
		</div>
	</body>
</html>